{% extends 'base.html' %}
{% block title %}
ログイン - {{ block.super }}
{%endblock%}
{% block content %}
{% load static%}
<div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-7 col-lg-5 col-xl-5">
            <img src="{% static "images/logo.png"%}" alt="avatar" class="d-block mx-lg-auto img-fluid" alt="hero">
            <h3>ログイン</h3>
            {% if error_message %}
                <div class="alert alert-danger">
                    {{ error_message }}
                </div>
            {% endif %}
            <form id="loginForm" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="id_email">メールアドレス</label>
                    <input type="email" name="username" class="form-control" id="id_email" value="{{ form.email.value }}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="id_password">パスワード</label>
                    <input type="password" name="password" class="form-control" id="id_password" required>
                </div>
                <button id="submitButton" type="submit" class="btn btn-primary w-100 mb-3">ログイン</button>
                <div class ='form-group mb-3 text-center'>
                <a type="button" data-mdb-ripple-init="" class="w-100 btn btn-link" href="{% url 'password_reset' %}">パスワードを忘れた場合</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
