{% extends 'base.html' %}
{% block title %}
お問い合わせ - {{ block.super }}
{%endblock%}
{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'top' %}">トップ</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'notification_list' %}">お知らせ</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ notification.title }}</li>
</nav>
<div class="container">
    <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-12">
            <h5>{{ notification.title }}</h5>
            <p>カテゴリ：{{ notification.get_category_display}}</p>
            <div class ="card mb-3">
                <div class ="card-body">
                    <p>{{ notification.content | linebreaksbr}}</p>
                    <div class ='text-end'>
                    <small class="text-muted mb-0">
                        <i class="fa-solid fa-clock ms-3 me-1"></i>{{ notification.created_at|date:"Y/m/d" }}
                    </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
