{% extends 'base.html' %}
{% block title %}
パスワード変更完了 - {{ block.super }}
{%endblock%}
{% block content %}
{% load static%}
<div class="mt-3">
    <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-7 col-lg-5 col-xl-5">
            <h5>パスワード再設定が完了しました！</h5>
            <p>ログイン画面でログインをお試しください。</p>
            <a type="button" data-mdb-ripple-init="" class="w-100 btn btn-link mb-3" href="{% url 'login' %}">ログイン画面に移動する</a>
        </div>
    <div>
<div>
{% endblock %}
