{% extends "base.html" %}
{% block title %}
パスワード変更手続き - {{ block.super }}
{%endblock%}
{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'top' %}">トップ</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">パスワード変更手続き</li>
    </ol>
</nav>
<form action="" method="POST">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-7 col-lg-5 col-xl-5">
                <h5>パスワード変更手続き</h5>
                <p>メールアドレスを入力して送信ボタンを押してください。</p>
                <p>入力したメールアドレスにパスワード変更手続きを記載したメールが送信されます。</p>
                <p>メールが届かない場合は<a href="{% url 'inquiry' %}">お問い合わせフォーム</a>からご連絡ください。</p>
                <form method="post">
                    {% csrf_token %}
                    {% if error_message %}
                    <div class="alert alert-danger">
                        {{ error_message }}
                    </div>
                    {% endif %}
                    <div class="form-group mb-3">
                        <label for="id_email">メールアドレス</label>
                        <input type="email" name="email" class="form-control" id="id_email" required>
                    </div>
                    <button id="submitButton" type="submit" class="btn btn-primary w-100 mb-3">メールを送信
                    </button>
                    <div class ='form-group mb-3 text-center'>
                        <a type="button" data-mdb-ripple-init="" class="w-100 btn btn-link mb-3" href="{% url 'login' %}">ログイン画面に戻る</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
